<%= form_for(@zaehler) do |f| %>
  <% if @zaehler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zaehler.errors.count, "error") %> prohibited this zaehler from being saved:</h2>

      <ul>
      <% @zaehler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nummer %><br />
    <%= f.number_field :nummer %>
  </div>
  <div class="field">
    <%= f.label :typ_id %><br />
    <%= f.collection_select :typ_id, @typen, :id, :bezeichnung, {:selected => "2"} %>
  </div>
  <div class="field">
    <%= f.label :typbez_id %><br />
    <%= f.collection_select :typbez_id, @typenbez, :id, :kurz_lang, {:selected => "2"} %> 
  </div>
  <div class="field">
    <%= f.label :bezeichnung %><br />
    <!--%= f.text_field :bezeichnung, :value => @lastZaehler.bezeichnung %-->
    <%= f.text_field :bezeichnung %>
  </div>
  <div class="field">
    <%= f.label :kurzbezeichnung %><br />
    <!--%= f.text_field :kurzbezeichnung, :value => @lastZaehler.kurzbezeichnung %-->
    <%= f.text_field :kurzbezeichnung  %>
  </div>
  <div class="field">
    <%= f.label :faktor %><br />
    <%= f.text_field :faktor %>
  </div>
  <div class="field">
    <%= f.label :standort %><br />
    <!--%= f.text_field :standort, :value => @lastZaehler.standort %-->
    <%= f.text_field :standort  %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <!--%= f.text_field :lat, :value => @lastZaehler.lat %-->
    <%= f.text_field :lat  %>
  </div>
  <div class="field">
    <%= f.label :lng %><br />
    <!--%= f.text_field :lng, :value => @lastZaehler.lng %-->
    <%= f.text_field :lng %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
