<p id="notice"><%= notice %></p>
<% title "Stromzählerstände v0.8.9.2" %>
<% content_for :head do %> 
  <%= javascript_include_tag "grafik" %>
  <%= javascript_include_tag "highcharts" %>
<% end %>
<div id="zaehler_chart" style="width: 100%; height: 100%;"></div>
<%= button_to_function "Verbrauch", "button_verbrauch()" %>
<%= button_to_function "nebeneinander", "button_nostacking()" %>
<%= button_to_function "Prozent", "button_percent()" %>
