<p id="notice"><%= notice %></p>

<p>
  <b>Nummer:</b>
  <%= @zaehler.nummer %>
</p>

<p>
  <b>Typ:</b>
  <%= h(@zaehler.typ.bezeichnung) %>
</p>

<p>
  <b>Typbezeichnung:</b>
  <%= h(@zaehler.typbez.kurz_lang) %>
</p>

<p>
  <b>Bezeichnung:</b>
  <%= @zaehler.bezeichnung %>
</p>

<p>
  <b>Kurzbezeichnung:</b>
  <%= @zaehler.kurzbezeichnung %>
</p>

<p>
  <b>Faktor:</b>
  <%= @zaehler.faktor %>
</p>

<p>
  <b>Standort:</b>
  <%= @zaehler.standort %>
</p>

<p>
  <b>Lat:</b>
  <%= @zaehler.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @zaehler.lng %>
</p>

<ol>
  <% for wert in @zaehler.werte %>
  <li><%= h wert.stand %></li>
  <% end %>
</ol>

<%= link_to 'Ändern', edit_zaehler_path(@zaehler) %> |
<%= link_to 'Zurück', zaehlers_path %>
