<h1>Listing typbezs</h1>

<table>
  <tr>
    <th>Bezeichnung</th>
    <th>Kurzbezeichnung</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @typbezs.each do |typbez| %>
  <tr>
    <td><%= typbez.bezeichnung %></td>
    <td><%= typbez.kurzbezeichnung %></td>
    <td><%= link_to 'Show', typbez %></td>
    <td><%= link_to 'Edit', edit_typbez_path(typbez) %></td>
    <td><%= link_to 'Destroy', typbez, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Typbez', new_typbez_path %>
