<%= form_for(@wert) do |f| %>
  <% if @wert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wert.errors.count, "error") %> prohibited this wert from being saved:</h2>

      <ul>
      <% @wert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render "fields", :f => f %>
  
  <div class="actions">
    <%= f.submit "Wert speichern"%>
  </div>
<% end %>
<!--
-----------------------------------------<br />
<%#= form_tag mehrere_werte_path do %>
  <%# @arr.each do |wert| %>
    <%#= form_for(wert) do |f| %>
      <%#= render "fields", :f => f %>
    <%# end %>
  ===================================================<br />
  <%# end %>
  <p><%#= submit_tag "mehrere Werte speichern" %></p>
<%# end %>
-->


