<h1>Eingabe der Werte</h1>

<table>
  <tr>
    <th>Nr.</th>
    <th>Wert</th>
  </tr>

<% @zaehler.each do |zaehler| %>
  	<%= content_tag_for(:tr, zaehler) do %>
	    <td><%= zaehler.nummer %></td>
	    <td><%= zaehler.bezeichnung %></td>
	<% end %>
<% end %>
</table>

<br />
<%= form_for(@zaehler) do |f| %>
aaa
<% end %>
<%= link_to 'Neuer Wert', new_wert_path %>
