<% content_for :head do %> 
  <%= javascript_include_tag "werte" %>
  <%= javascript_include_tag "best_in_place" %>
<% end %>
<h1>Eingabe der Energiewerte</h1>

  <p>Tag der Ablesung: <%= text_field_tag "tagderAblesung" %></p>
  
<table>
  <tr>
    <th>Zähler</th>
    <th>Stand</th>
    <th>Datum</th>
    <th></th>
    <th>Id</th>

  </tr>
<% mydate = Time.now %>
<% @arr.each do |wert| %>
  	<%= content_tag_for(:tr, wert) do %>
  		<td><%= Zaehler.find(wert.zaehler_id).nr_bez %></td>
	    <td><%= best_in_place wert, :stand %></td>
	    <td><%= best_in_place wert, :datum, :type => :date, :classes => "hasDatePicker wdatum" ,:data => {:stand => wert.stand } %></td>
	    <!-- :activator => "#best_in_place_wert_#{wert.id}_stand" %-->
      <!--td>< select_date(wert.datum) %></td-->
      <td>  </td>
	    <td><%= wert.id %></td>
	<% end %>
<% end %>
</table>

<%#= form_for(@werte) do |f| %>
  <%#= f.label :wert %><br />
  <%#= f.number_field :wert %><br />
  <%# end %> 

