<% title "Liste der Werte" %>

<%= link_to 'Ein neuer Wert', werte_path, :method => :post %> <!-- create -->
<%= link_to 'Neuer Wertesatz', new_wertesatz_werte_path %>

<%= form_tag mehrere_werte_path do %>
  <p>
    <%= submit_tag "Datum von gecheckten Werten ändern" %>
    <%= submit_tag "gecheckte Werte löschen" %>
  </p>
<table>
  <tr>
    <th></th>
    <th>Id</th>
    <th>Stand</th>
    <th>Datum</th>
    <th>Zaehler</th>
  </tr>

<% @werte.each do |wert| %>
  	<%= content_tag_for(:tr, wert) do %>
      <td><%= check_box_tag "wert_ids[]", wert.id %></td>
	    <td><%= wert.id %></td>
	    <td><%= best_in_place wert, :stand %></td>
	    <td><%= best_in_place wert, :datum, :type => :date %></td>
	    <td><%= best_in_place wert, :zaehler_id, :type => :select, :collection => @zaehler.map { |f| [f.id, 'Nr.:' + f.nummer.to_s + ' ' + f.bezeichnung] }  %></td>
	<% end %>
<% end %>
</table>
<% end %>